.score-container {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}
h2 {
  height: 100%;
  text-transform: uppercase;
  color: hsl(229, 64%, 46%);
}
p {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
