.jeu-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.jeu-page .coin-container:nth-of-type(1){
    position: absolute;
    top: 30%;
    left: 30%;
}
.jeu-page .coin-container:nth-of-type(2){
    position: absolute;
    top: 30%;
    left: 60%;
}

.insights {
    font-size: 20px;
    margin-left: 30px;
    color: white;
    display: block;
}

.back-button {
    color: black;
    padding: 20px;
    background: white;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}