.header-container {
  width: 40%;
  height: 20vh;
  border: hsl(217, 16%, 45%) solid 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 5vw;
}
