.game-area {
  width: 27%;
  height: 47%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-area .coin-container:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.game-area .coin-container:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.game-area .coin-container:nth-of-type(3){
  position: absolute;
  bottom: 0;
  left: 32%;
}
